/* File: src/components/TopBar.css */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid;
  margin-top: 25px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
